@font-face {
    font-family: GothicByte;
    src: url(fonts/Gothicbyte-WpeRG.ttf);
}

@font-face {
    font-family: PixelGamer;
    src: url(fonts/PixgamerRegular-OVD6A.ttf);
}

header {
    color: bisque;
    text-align: center;
    margin: auto;
    font-family: GothicByte;
    font-size: 70px;
    padding: 0px;
}

h3 {
    font-family: GothicByte;
    line-height: 0px;
    font-size: 70px;
    font-weight: lighter;
}

h4 {
    font-family: GothicByte;
    line-height: 0px;
    text-align: left;
    font-weight: lighter;
}

h5 {
    font-family: PixelGamer;
    line-height: 0px;
    font-size: 25px;
    font-weight: lighter;
}

.container {
    border: 2px solid white;
    align-content: center;
    max-width: 100%;
    margin-bottom: 5px;
    color: bisque;
    letter-spacing: 1px;
}

.container img {
    width: 100%;
}

#image-box img {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    margin-bottom: 5px;
}

#page {
    border: 2px solid white;
    align-content: center;
    width: 1000px;
    margin: auto;
    color: bisque;
    letter-spacing: 1px;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.92);
}

.left {
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
    width: 400px;
    float: left;
}

.right {
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
    float: right;
    width: 500px;
}

.title {
    font-size: 20px;
}

.info {
    font-size: 15px;
    font-style: normal;
}

.grid-container {
    columns: 3;
    align-content: center;
    max-width: 100%;
    margin-bottom: 5px;
    height: fit-content;
    font-family: PixelGamer;
    font-size: 20px;
    div {
        display: inline-block;
        border: solid 2px white;
        padding: 5px;
        margin-bottom: 5px;
    }
    
    img {
        width: 100%;
    }

    img:hover {
        transform: scale(1.5);
    }

    p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-family: PixelGamer;
    }
}

.box-head {
    color: white;
    background-color: rgba(18, 17, 16, 0.92);
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    font-family: GothicByte;
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 5px;
    padding: 10px;
}

.box-body {
    color: bisque;
    font-family: PixelGamer;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 5px;
}

.divider {
    display: inline-block;
    width: 100%;
    margin-right: 5px;
    align-items: center;
}

.navigation {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: PixelGamer;
    font-size: 20px;
    letter-spacing: 4px;
    padding: 10px;
    margin: 5px;
}

#scrollbox {
    height: 160px;
    overflow-y: scroll;
}

.project-head {
    align-items: center;
    padding: 5px;
}

#title {
    font-family: GothicByte;
    font-size: 40px;
    padding: 5px;
}

#date {
    font-size: 20px;
    font-style: italic;
    padding: 5px;
    color: lightsalmon;
}

#info {
    font-size: 20px;
    padding: 5px;
}

#roles {
    font-size: 20px;
    padding: 5px;
}

#team-size {
    font-size: 20px;
    padding: 5px;
}

#engine {
    font-size: 20px;
    padding: 5px;
}

#links {
    font-size: 20px;
    padding: 5px;
}

footer {
    color: bisque;
    font-family: GothicByte;
    font-size: 20px;
    text-align: center;
    border: 2px dashed white;
    letter-spacing: 3px;
    margin-bottom: 5px;
    padding: 10px;
}

a {
    color: lightsalmon;
}

a:hover {
    color: bisque
}

a:visited {
    color: lightsalmon;
}

a:visited:hover {
    color: bisque;
}